<main aria-labelledby="title">
    <section>
        <div class="container">
            <div class="tit">
                <img src="~/Images/acad.jpg" alt="Gym Image">
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>Bem-vindo à SNATFIT!</h2>
            <br>

            <p>Na SnatFit, transformamos cada treino em uma experiência única e inspiradora. Desde o momento em que você pisa em nossa academia, até os momentos em que você está conectado através do nosso aplicativo, estamos dedicados a ajudá-lo a alcançar seus objetivos de fitness de uma maneira que se adapte ao seu estilo de vida.</p>
            <p>Não somos apenas uma academia, somos uma comunidade apaixonada pelo bem-estar e pelo desempenho pessoal. Nossas instalações modernas oferecem uma variedade de equipamentos de última geração, espaços para treinos funcionais, aulas em grupo dinâmicas e treinadores experientes prontos para orientá-lo em cada passo do caminho.</p>
            <p>Além de nosso espaço físico, oferecemos a conveniência de um aplicativo exclusivo que coloca sua jornada de fitness na palma da sua mão. Com nosso site intuitivo, você pode agendar suas aulas favoritas, rastrear seu progresso, acessar planos de treino personalizados e até mesmo se conectar com outros membros da nossa comunidade. Nosso site é mais do que apenas uma ferramenta, é um companheiro de treino que o capacita a alcançar seus objetivos onde quer que você esteja.</p>
            <p>Estamos comprometidos em fornecer não apenas um lugar para treinar, mas uma plataforma para crescer, se desafiar e se inspirar. Junte-se a nós enquanto embarcamos nesta jornada de transformação juntos.</p>
            <br>
            <h3>Desejamos boas-vindas à família SNATFIT.</h3>
        </div>
    </section>

</main>