<main aria-labelledby="title">
    <section>
        <div class="cont">
            <h2 class="talk">Fale Conosco</h2>
            <p class="intro">Estamos aqui para responder a quaisquer perguntas que você possa ter sobre a SnatFit. Preencha o formulário abaixo e entraremos em contato o mais rápido possível.</p>
            <br>
            <form action="#" method="post" class="form">

                <label for="nome" class="form">Nome:</label>
                <input type="nome" id="nome" name="nome" required>

                <label for="email" class="form">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="mensagem" class="form">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" required></textarea>

                <button type="submit">Enviar Mensagem</button>
            </form>
        </div>
    </section>
</main>