
<main>
    <section>
        <div class="container">
            <div class="tit">
                <img src="~/Images/gym.jpg" alt="Gym Image">
                <span><h2>ACADEMIA SNATFIT</h2></span>
                <h3 class="frase">O primeiro passo na academia é o começo da sua melhor versão.</h3>
            </div>
            <div class="split">
                <div class="feature">
                    <img src="~/Images/treino.jpg" alt="Fitness Class">
                    <h2>AQUI SEU CORPO É SEU PALCO. VAMOS JUNTOS!</h2>
                    <p>Já possuo cadastro. </p>
                    <button type="button"><a href="login.html">Login</a></button>
                </div>
                <div class="feature">
                    <img src="~/Images/treino.jpg" alt="Personal Trainer">
                    <h2>TRANSFORME SUOR EM CONQUISTAS. VAMOS JUNTOS!</h2>
                    <p>Faça o seu cadastro aqui e comece hoje!</p>
                    <button type="button"><a href="cadastro.html">Cadastre-se</a></button>
                </div>
            </div>
        </div>
    </section>
</main>